
<% include ./header.ejs %>

<script>
$(document).ready(function(){
   $("#IDenroll").val("아이디를 입력해주세요");
//   $("#lpassword").val("비밀번호를 입력해주세요");
   $("#IDenroll").focus(function(){
      $("#IDenroll").val("");
   })
   $("#IDenroll").focusout(function(){
      if($("#IDenroll").val().length==0){
         $("#IDenroll").val("아이디를 입력해주세요");
      }
   })
});
//function chkEnroll(form){
function checkID(){
  var enroll_id = document.getElementById("IDenroll").value;
  var enroll_pw = document.getElementById("IDpassword").value;
  var enroll_pw2 = document.getElementById("IDpassword2").value;

  if (enroll_pw == null || enroll_pw == "") {
    alert("Please enter the password.");
//      $("#elusername").focus();
    return false;
  }
  if (enroll_pw2 == null || enroll_pw2 == "") {
    alert("Please enter the password2.");
//      $("#elusername").focus();
    return false;
  }
  if (enroll_id == null || enroll_id == "") {
    alert("Please enter the ID.");
//      $("#elusername").focus();
    return false;
  }

  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

      //$("tmpTag1").append(" "+this.responseText+" ");
      $("tmpTag1").append(this.responseText);
        document.getElementById("createKeyButton").disabled = false;
    }
  }
  xmlhttp.open("POST", "/checkID/"+enroll_id, true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
//  xmlhttp.send("IDname="+enroll_pw2+"&"+"password=" + enroll_pw);
  xmlhttp.send("IDname="+enroll_id);
}

function createKeyAssetAccout() {
  var enroll_pw = document.getElementById("IDpassword").value;
  var enroll_pw2 = document.getElementById("IDpassword2").value;
  if (enroll_pw == null || enroll_pw == "") {
    alert("Please enter the password.");
//      $("#elusername").focus();
    return false;
  }
  if (enroll_pw2 == null || enroll_pw2 == "") {
    alert("Please enter the password2.");
//      $("#elusername").focus();
    return false;
  }

  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
//      document.getElementById("aliasKey").innerHTML = this.responseText;

      $("tmpTag2").append(this.responseText);
      $("#createKeyButton").hide();
      document.getElementById("competeEnroll").disabled = false;

      var myJSON = JSON.stringify(this.responseText);
      localStorage.setItem("myJSONxpub", myJSON);

    }
  };
  var alias = document.getElementById("IDenroll").value;
  xmlhttp.open("POST", "/createKeyAssetAccount/"+alias, true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.send("IDname="+alias+"&"+"password=" + enroll_pw);
};
function choice(){
  var enroll_id = document.getElementById("IDenroll").value;
  location.href="/choice/"+enroll_id;    // 이 방식으로 전달하면 서버를 안거치므로 서버의 다른 파일들을(CSS 등)을 로드 못함
}
</script>

<h1> 회원가입화면</h1>
<table style="width:80%" >
  <caption>- 계정생성 -</caption>
  <tr>
    <td>아  이  디:</td>
    <th><input type=text id=IDenroll></th>
  </tr>
  <tr>
    <td>비 밀 번 호:</td>
    <td><input type=password id=IDpassword></td>
  </tr>
  <tr>
    <td>비밀번호확인:</td>
    <td><input type=password id=IDpassword2 ></td>
  </tr>
  <tr>
    <td>  <button  onclick='checkID()'>중복체크</button></td>
    <td>  <tmpTag1>아이디 중복체크결과 : </tmpTag1> </td>
  </tr>
  <tr>
    <td> <button id="createKeyButton" onClick="createKeyAssetAccout()" disabled=true> 비밀키 생성 </button></td>
    <td> 비밀키 생성결과 :  <tmpTag2>  </tmpTag2> </td>
  </tr>
  <tr><td colspan="2"><button id="competeEnroll" onclick="choice()" disabled=true> 완료 </button></td>
  </tr>
</table>


<h2>Welcome! <%= IDname %>  </h2>
