<script>
$(document).ready(function(){
   $("#IDname").val("Please input your ID");
//   $("#lpassword").val("비밀번호를 입력해주세요");
   $("#IDname").focus(function(){
      $("#IDname").val("");
   })
   $("#IDname").focusout(function(){
      if($("#IDname").val().length==0){
         $("#IDname").val("Please input your ID");
      }
   })
})

</script>
<script>
  function login(){

    var tagVar = document.getElementsByTagName("section");

    console.log("tagVar[0].children.IDname.value : ", tagVar[0].children.IDname.value);

    var login_id = tagVar[0].children.IDname.value;
    var login_pw = $("#password").val();

    console.log("login_id : ", login_id);
    console.log("login_pw : ", login_pw);

    if (login_id == null || login_id == "") {
      alert("Please enter ID.");
      return false;
    }
    if (login_pw == null || login_pw == "") {
      alert("Please enter Password.");
      return false;
    }

//    form.action = "/login/"+login_id;

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        console.log("responseText  : " + this.responseText);

        $("responsePanel").append(JSON.parse(this.responseText).error);
        if( JSON.parse(this.responseText).success == 1)
          location.href="/choice/"+login_id+"/"+global_lang_val;
      }
    }

    xmlhttp.open("POST", "/login/"+login_id, true);  //true Asyc, false syc
//    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
    xmlhttp.send("IDname="+login_id+"&"+"password=" + login_pw);
  };

  function enroll(){
//    var lang = $(this).data('lang');
    alert("global_lang_val ::::  " + global_lang_val)

    location.href="/enroll/"+global_lang_val;
  };

  function manageFingerScan(){
    alert("Under Construction.")
  }
</script>




<h1 data-langNum="1">셀프인증시스템</h1>

<h2>
  <responsePanel>
  </responsePanel>
</h2>

<section>
<h4 data-langNum="2">아 이 디 </h4> <br>
<input type="text" name="IDname" id="IDname"><br>
<h4 data-langNum="3">비밀번호</h4> <br>
<input type="password" name="password" id="password"><br><br>
<input type=button value='로그인' onclick='return login();' data-langNum="4"><br><br>
</section>
<button onclick="manageFingerScan()" data-langNum="5">지문인식</button><br>

<button  onclick="enroll()" data-langNum="6">회원가입</button><br>

<div id="wrap">
    <h1 data-langNum="0">자바스크립트 다국어 처리</h1>
    <button data-lang="ko" class="multiLang">한국어</button>
    <button data-lang="en" class="multiLang">English</button>
    <hr>
</div>

<script>
var global_lang_val;
// 언어팩 선언.
$.lang = {};

$.lang.ko = {
    0: '자바스크립트 다국어 처리.',
    1: '셀프인증시스템',
    2: '아이디',
    3: '비밀번호',
    4: '로그인',
    5: '지문인식(미작동)',
    6: '회원가입'
};

$.lang.en = {
    0: 'Javascript Language Localization.',
    1: 'Self-Authentication-System',
    2: 'ID',
    3: 'PW',
    4: 'Login',
    5: 'FingerScan',
    6: 'Sign Up'
};


/**
* setLanguage
* use $.lang[currentLanguage][languageNumber]
*/
function setLanguage(currentLanguage) {
  console.log('setLanguage', arguments);

  $('[data-langNum]').each(function() {
    var $this = $(this);
    $this.html($.lang[currentLanguage][$this.data('langnum')]);
  });

  $('[data-langNum]').each(function() {
    var $this = $(this);
    $this.val($.lang[currentLanguage][$this.data('langnum')]);
  });
}

// 언어 변경
//$('button').click(function() {

$('.multiLang').click(function() {
  alert("Language switching");
  var lang = $(this).data('lang');
  global_lang_val = lang;
  setLanguage(lang);
});


/*
추가적으로 유용한 처리.
1. 브라우저 언어에 따라 최초 언어 셋팅하기
2. 외부에서 URL ?lang=ja 접근시 셋팅하기
3. 언어 변경시 쿠키에 언어코드 저장해서 재접속시 쿠키 기준으로 언어 셋팅.
*/

</script>
