<script>
$(document).ready(function(){
   $("#IDname").val("아이디를 입력해주세요");
//   $("#lpassword").val("비밀번호를 입력해주세요");
   $("#IDname").focus(function(){
      $("#IDname").val("");
   })
   $("#IDname").focusout(function(){
      if($("#IDname").val().length==0){
         $("#IDname").val("아이디를 입력해주세요");
      }
   })
})
</script>
<script>
  function login(){

    var tagVar = document.getElementsByTagName("section");

    console.log("tagVar[0].children.IDname.value : ", tagVar[0].children.IDname.value);

    var login_id = tagVar[0].children.IDname.value;
    var login_pw = $("#password").val();

    console.log("login_id : ", login_id);
    console.log("login_pw : ", login_pw);

    if (login_id == null || login_id == "") {
      alert("Please enter ID.");
      return false;
    }
    if (login_pw == null || login_pw == "") {
      alert("Please enter Password.");
      return false;
    }

//    form.action = "/login/"+login_id;

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        console.log("responseText  : " + this.responseText);

        $("responsePanel").append(JSON.parse(this.responseText).error);
        if( JSON.parse(this.responseText).success == 1)
          location.href="/choice/"+login_id;
      }
    }

    xmlhttp.open("POST", "/login/"+login_id, true);  //true Asyc, false syc
//    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
    xmlhttp.send("IDname="+login_id+"&"+"password=" + login_pw);
  };

  function enroll(){
    location.href="/enroll";
  };
</script>


<h1>셀프인증시스템</h1>

<h2>
  <responsePanel>
  </responsePanel>
</h2>

<section>
아 이 디 <br>
<input type="text" name="IDname" id="IDname"><br>
비밀번호 <br>
<input type="password" name="password" id="password"><br><br>
<input type=button value='로그인' onclick='return login();'><br><br>
</section>
<button type="button">지문인식(미작동)</button><br>

<button type="button" onclick="enroll()">회원가입</button><br>
