<html>
  <head>
    <%= title %>
    <script>
    function goToChoice(){
      var userName = "<%= IDname %>";
      location.href="/choice/"+userName +"/"+ "<%= lang %>";;
    }
    </script>
  </head>
  <body>
    <h1> There are no able records. </h1>
    <input type="button" value='나가기' id="goToChoiceId" onclick="goToChoice()"></td></tr>
  </body>
</html>
